<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head"></head>
<body>

<header th:include="_template :: header"></header>

<h1>Lista de alimentos</h1>

<div class="alert alert-success" th:if="${message != null}" th:text="${message}"></div>

<a href="/alimento/new">Cadastrar</a>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th></th>
    </tr>
    <tr th:each="alimento : ${alimentos}">
        <td th:text="${alimento.id}"></td>
        <td th:text="${alimento.nome}"></td>

        <td>
            <a th:href="${'/alimento/' + alimento.id}" class="btn btn-sm btn-dark">Editar</a>
        </td>
    </tr>
</table>
<footer th:include="_template :: footer"></footer>
